<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>New Product</h1>
    </div>
  </div>

  <%= render 'form', product: @product, status: @status %>
  <br>
  <%= link_to 'Back', products_path %>
</div>
<br>
